* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    padding: 0.5rem;

    &:hover {
        background-color: var(--color-form-h) !important;
        color: var(--color-white) !important;
    }
    &:active {
        background-color: var(--color-form-a) !important;
        color: var(--color-white) !important;
    }
}

input {
    border: 0;
    box-shadow: 0px 1px 0px 0px #ddddddad;
    transition: 0.2s;
    width: 100%;
    height: 25px;
    outline: none;

    &:focus {
        box-shadow: 0px 0px 4px 0px var(--color-form);
    }
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

.c {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.r {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.r-0 {
    display: flex;
    flex-direction: row;
}

.i-c {
    justify-content: center;
}
